# Các thư viện cơ bản để xử lý dữ liệu và machine learning
pandas
numpy
scikit-learn

# Thêm các thư viện khác nếu bạn cần, ví dụ:
matplotlib
seaborn
jupyter
xgboost
imbalanced-learn
joblib
pytest 
httpx